language: node_js
node_js:
  - "0.10"
  - "0.11"
  - "0.12"
  - "iojs"
  - "4"
  - "6"
  - "8"
  - "10"
  - "12"
  - "node"

jobs:
  include:
    - name: webpack
      node_js: "12"
      install: cd test/webpack; npm install
      script: npm test